.background-container {
  background-image: url('assets/images/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 42.9rem;
  text-align: center;
  color: white;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Center the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; /* Space between header and buttons */
}

/* Header style */
.header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e3d20a; /* Dark blue */
  text-align: center;
  margin-bottom: 2em;
}

/* Center the button container */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em; /* Space between buttons */
}

/* Style for the buttons */
.rounded-button {
  background-color: #4CAF50;  /* Initial background color */
  color: white;
  border: none;
  padding: 14px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  transition: background 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.rounded-button:hover {
  background: linear-gradient(to right, #00c6ff, #0072ff);  /* Gradient background on hover */
  transform: scale(1.1);  /* Optional: make button slightly bigger on hover */
}
