<div class="background-container">
  <div class="container">
    <h1 class="header">Race Event Management System</h1>
    <div class="button-container">
      <button class="rounded-button" (click)="navigateTo('app/racer')">Manage Racers</button>
      <button class="rounded-button" (click)="navigateTo('app/track')">Manage Tracks</button>
      <button class="rounded-button" (click)="navigateTo('app/team')">Manage Teams</button>
      <button class="rounded-button" (click)="navigateTo('app/event')">Manage Events</button>
    </div>
  </div>
</div>
